{% extends "AppRegistro/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!-- aqui va lo que cambia y lo asociado a esta vista  -->

    <h2>Acerca de mi</h2>
    <h1>Mi nombre es Maria Sofia Ochoa</h1>
    <p>Aunque todos me dicen Sofi. Actualmente estoy cursando en la Universidad Tecnológica Nacional de Rosario la carrera de Ingenieria en Sistemas de la Información. Tal vez es un poco típico que esté haciendo este curso, aunque en realidad es para profesionalizarme de antemano y saber qué dirección quiero tomar con mi título.</p>
    <p>Lamentablemente al cursar una carrera tan demandante, y una pobre organización de tiempos de mi parte, este proyecto final deja mucho que desear (tanto como para mi, como para el que esté viendo esto.) Mi propósito no era quedar en el top 10, ni sacar la mejor de las notas, sino simplemente aprender a cómo usar un framework de Python, a la vez que comenzaba mis primeros pasos antes que darlos en alguna materia en la Facultad.</p>
    <p>En eso sirvió muchísimo. Y ahora tengo un nuevo hobbie que me ayuda además a profesionalizarme cada vez más en el camino: construir páginas con Django, usando Python. Gracias profe por el recorrido con este maravilloso lenguaje, y le doy las gracias por no juzgar en demasía la falta de diseño y pensamiento lógico volcados aquí.</p>
    <br>
    <p>Para cualquier cosa, mi mail es masofiaochoa@gmail.com</p>

{% endblock %}