{% extends "AppRegistro/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!-- aqui va lo que cambia y lo asociado a esta vista  -->

    <h2>Buscá una camada:</h2>
    <h1>{{mensaje}}</h1>
    <br>
    <button><a href="{% url 'logout' %}">Salir</a></button>

    {% for blogueo in lista_blog %}
        <h2>{{ blogsModel.titulo }}</h2>
        <p>{{ blogsModel.autor }} | {{ blogsModel.created_on}} </p>
        <p>{{blogsModel.cuerpo|slice:":200" }}</p>
        <a href="{% url 'detalle_blog' blogsModel.slug  %}">Leer más</a>

    {% endfor %}

{% endblock %}
